#contact {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    color: black;
}

.bundleInfos {
    display: flex;
}

#map {
    width: 400px;
    height: auto;
}

.hoursContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hoursContainer p {
    margin: 0;
    padding: 6px;
}

.hoursContainer h2 {
    margin: 0;
    padding: 6px;
}

.getInTouch {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-left: 2px solid black;
    padding: 20px;
}

.getInTouch > * {
    margin: 0;
    padding: 6px;
}